<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="edu.hotelManage.repository.SuppliesLogRepository">
    <select id="findAll" resultType="SuppliesLog">
        select * from supplies_log
    </select>
    <select id="findBySid" parameterType="java.lang.Integer" resultType="SuppliesLog">
        select * from supplies_log where sid=#{sid};
    </select>

    <select id="findById" parameterType="java.lang.Integer" resultType="SuppliesLog">
        select * from supplies_log where id=#{sid};
    </select>

    <select id="findByTime" resultType="SuppliesLog">
        select * from supplies_log where time like #{time}"%"
    </select>

    <select id="findByTimeAndSid" resultType="SuppliesLog">
        select * from supplies_log where time like #{time}"%" and sid=#{sid}
    </select>

    <insert id="insert" parameterType="SuppliesLog">
        INSERT INTO supplies_log (sid, quantity)
        VALUES (#{sid}, #{quantity})
    </insert>

    <update id="update" parameterType="SuppliesLog">
        UPDATE supplies_log  SET sid=#{sid},quantity=#{quantity}
            WHERE id = #{id}
    </update>
</mapper>
