<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="edu.hotelManage.repository.SignInRepository">
    <select id="findAll" resultType="SignIn">
        select * from sign_in order by eid;
    </select>

    <select id="findByEid" parameterType="java.lang.Integer" resultType="SignIn">
        select * from sign_in where eid=#{eid};
    </select>

    <select id="findByTime" parameterType="java.lang.String" resultType="SignIn">
        select * from sign_in where time like #{time}"%";
    </select>

    <select id="findById" parameterType="java.lang.Integer" resultType="SignIn">
        select * from sign_in where id=#{id};
    </select>


    <select id="findByTimeAndEid" resultType="SignIn">
        select * from sign_in where time like #{time}"%" and eid =#{eid};
    </select>


    <insert id="insert" parameterType="SignIn">
        INSERT INTO sign_in (eid) VALUES (#{eid})
    </insert>

    <update id="update" parameterType="SignIn">
        UPDATE sign_in  SET time = #{time} WHERE id = #{id}
    </update>
</mapper>
